<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: gray;
        }
        h1{
            text-align: center;
        }
        button{
            margin: 0 10px;
        }
        img{
            width: 100px;
            height: 100px;
        }
        form{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1><%=player1.toUpperCase()%> VS</h1>
    <form method="post" action="/player2">
        <input type="hidden" name="player1" value="<%= player1 %>">
        <button type="submit" name="character" value="mario"><img src="mario_flipped.png"></button>
        <button type="submit" name="character" value="spongebob"><img src="spongebob_flipped.png"></button>
        <button type="submit" name="character" value="patrick"><img src="patrick_flipped.png"></button>
    </form>
</body>
</html>